<div>
    <h2 id="page-heading">
        <span>Tickets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ticket" [routerLink]="['/ticket/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ticket
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tickets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span>Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dueDate"><span>Due Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="done"><span>Done</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="project.name"><span>Project</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assignedTo.login"><span>Assigned To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of tickets ;trackBy: trackId">
                <td><a [routerLink]="['/ticket', ticket.id, 'view' ]">{{ticket.id}}</a></td>
                <td>{{ticket.title}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.dueDate | date:'mediumDate'}}</td>
                <td>{{ticket.done}}</td>
                <td>
                    <div *ngIf="ticket.project">
                        <a [routerLink]="['../project', ticket.project?.id, 'view' ]" >{{ticket.project?.name}}</a>
                    </div>
                </td>
                <td>
                    {{ticket.assignedTo?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ticket', ticket.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ticket', ticket.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ticket', { outlets: { popup: ticket.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tickets && tickets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
